<div>
  <i (click)="close()" class="fa fa-times"></i>
  <form (ngSubmit)="onSubmit()" #enterAccountForm="ngForm">
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" class="form-control" id="username" required [(ngModel)]="User.username" username="username" name="username">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" required [(ngModel)]="User.password" username="password" name="password">
    </div>
    <re-captcha site_key="6Lc2RSIUAAAAAI715lS25wbDBzUDGOkJhpCkOzSQ"></re-captcha>
    <div class="bottomDiv">
      <button type="submit" class="btn btn-default submitBtn" [disabled]="!enterAccountForm.form.valid || !captcha.getResponse()">{{Caption}}</button>
      <p class="errorMsg" *ngIf="ErrorLoggingIn">Unable to log in. Please check your username and password.</p>
      <p class="errorMsg" *ngIf="ErrorCreatingAccount">Sorry, that username is already taken.</p>
    </div>
  </form>
</div>