.fa-times {
    color: red;
}

.fa-plus {
    color: green;
}

.container {
    width: 100%;
}

h1 {
    font-size: 24px;
}

.budget, .notLoggedInWarningDiv {
    background-color: #EEEFF2;
    padding: 5px;
    text-align: center;
}

.card {
    background-color: white;
    border: solid 5px #EEEFF2; 
    border-radius: 10px;
}

@media (max-width: 600px) {
    .budget {
        padding-left: 0;
        padding-right: 0;
    }

    .card {
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
    }
}
