<div class="notLoggedInWarningDiv" *ngIf="!isLoggedIn">
    <h1>You are not logged in. If you'd like to save, please login or sign up.</h1>
</div>
<div class="budget container" myMatchHeight="card">
    <input-section type="Incomes" class="incomes card col-lg-4 col-md-6 col-xs-12"></input-section>
    <input-section type="Expenses" enablePreTaxCheckbox="true" class="expenses card col-lg-4 col-md-6 col-xs-12"></input-section>
    <input-section type="Savings" enablePreTaxCheckbox="true" class="savings card col-lg-4 col-md-6 col-xs-12"></input-section>
    <taxes class="taxes card col-lg-4 col-md-6 col-xs-12"></taxes>
    <breakdown class="breakdown card col-lg-4 col-md-6 col-xs-12"></breakdown>
    <summary class="summary card col-lg-4 col-md-6 col-xs-12"></summary>
</div>