<div class="menuBarDiv">
    <div class="left">
        <i class="fa fa-usd fa-2x" aria-hidden="true"></i>
        <h1>Annual Budget</h1>
    </div>
    <div class="right">
        <div class="login">         
            <a *ngIf="!isLoggedIn" class="login" (click)="toggleLoginForm()">
                <i *ngIf="!isLoggedIn" class="fa fa-sign-in" aria-hidden="true"></i>Log In
            </a>
            <enter-account *ngIf="ShowLoginForm" EnterAccountTypeInput="Login" class="enter-account enter-account-login"></enter-account>
        </div>
        <div class="signup">
            <a *ngIf="!isLoggedIn" (click)="toggleSignupForm()">
                <i *ngIf="!isLoggedIn" class="fa fa-user" aria-hidden="true"></i>Sign Up
            </a>
            <enter-account *ngIf="ShowSignupForm" EnterAccountTypeInput="Signup" class="enter-account enter-account-signup"></enter-account>
        </div>
        <div class="save" [ngClass]="{'hasUnsavedChanges': hasUnsavedChanges}">
            <a *ngIf="isLoggedIn" (click)="save()">
                <i *ngIf="isLoggedIn" class="fa fa-floppy-o" aria-hidden="true"></i>{{ hasUnsavedChanges ? "Save" : "Saved" }}
            </a>    
        </div>
        <div class="logout">
            <a *ngIf="isLoggedIn" (click)="logOut()">
                <i *ngIf="isLoggedIn" class="fa fa-sign-out" aria-hidden="true"></i>Log Out
            </a>    
        </div>
    </div>
</div>