.menuBarDiv {
    height: 50px;
    background: #4FC1E9;
    padding: 0 15px;
    cursor: default;
}

@media screen and (max-width: 686px) {
    .menuBarDiv {
        height: 90px;
    }
}

@media screen and (max-width: 406px) {
    .menuBarDiv {
        height: 120px;
    }
}

@media screen and (max-width: 387px) {
    .menuBarDiv {
        height: 150px;
    }
}

@media screen and (max-width: 298px) {
    .menuBarDiv {
        height: 180px;
    }
}

.menuBarDiv > div {
    margin-top: 7px;
}

h1 {
    margin: 0;
    font-size: 30px;
    color: white;
    display: inline-block;
}

a {
    font-size: 25px;
    color: white;
}

a:hover {
    cursor: pointer;
}

i {
    color: white;
}

.hasUnsavedChanges i {
    color: #E9573F;
}

.login, .save {
    margin-right: 20px;
}

.login, .signup, .save, .logout {
    display: inline-block;
    position: relative;
}

.enter-account {
    position: absolute;
    width: 344px; /*Specify this so it doesn't need to resize once recaptcha loads*/
    z-index: 1;
    padding: 15px;
    border: 5px solid #4FC1E9;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background: white;
}

.enter-account-login {
    top: 38px;
    left: -49px;
}

.enter-account-signup {
    top: 38px;
    left: -189px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.right .fa {
    margin-right: 5px;
}
