<div class="taxes col-md-4">
    <h1>Taxes</h1>
    <table class="table">
        <tr>
            <td>Income after pre-tax:</td>
            <td colspan="2">{{IncomeMinusPreTax | customCurrency}}</td>
        </tr>
        <tr>
            <td>Filing status:</td>
            <td colspan="2">
                <select [(ngModel)]="FilingStatus">
                    <option *ngFor="let status of FilingStatusOptions" [value]="FilingStatusOptions.indexOf(status)">{{status}}</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Exemptions:</td>
            <td colspan="2">
                <input type="number" [(ngModel)]="Exemptions" min="1" max="30" step="1" />
            </td>
        </tr>
        <tr>
            <td>State:</td>
            <td colspan="2">
                <select [(ngModel)]="State">
                    <option *ngFor="let stateAbbr of States" [value]="States.indexOf(stateAbbr)">{{stateAbbr}}</option>
                </select>
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <tabs>
                    <tab tabTitle="Federal">
                        <table class="table">
                            <tr>
                                <td colspan="3">Deductions:</td>
                            </tr>
                            <tr *ngFor="let row of FederalDeductions" class="form-group">
                                <td>
                                    <input type="text" class="form-control" [(ngModel)]="row.label" />
                                </td>
                                <td>
                                    <input type="text" (blur)="row.amount=$event.target.value" class="form-control" value="{{row.amount}}" customCurrencyFormatter
                                    />
                                </td>
                                <td>
                                    <a class="btn" (click)="deleteLabelAndCurrencyRow(FederalDeductions, row)"><i class="fa fa-times"></i></a>   
                                    <a class="btn" (click)="insertLabelAndCurrencyRow(FederalDeductions, row)"><i class="fa fa-plus"></i></a> 
                                </td>
                            </tr>
                            <tr>
                                <td>Taxable Income:</td>
                                <td colspan="2">{{FederalTaxableIncome | customCurrency}}</td>
                            </tr>
                            <tr>
                                <td colspan="3">Credits:</td>
                            </tr>
                            <tr *ngFor="let row of FederalCredits" class="form-group">
                                <td>
                                    <input type="text" class="form-control" [(ngModel)]="row.label" />
                                </td>
                                <td>
                                    <input type="text" (blur)="row.amount=$event.target.value" class="form-control" value="{{row.amount}}" customCurrencyFormatter
                                    />
                                </td>
                                <td>
                                    <a class="btn" (click)="deleteLabelAndCurrencyRow(FederalCredits, row)"><i class="fa fa-times"></i></a>   
                                    <a class="btn" (click)="insertLabelAndCurrencyRow(FederalCredits, row)"><i class="fa fa-plus"></i></a> 
                                </td>
                            </tr>
                        </table>
                    </tab>
                    <tab tabTitle="State">
                        <table class="table">
                            <tr>
                                <td colspan="3">Deductions:</td>
                            </tr>
                            <tr *ngFor="let row of StateDeductions" class="form-group">
                                <td>
                                    <input type="text" class="form-control" [(ngModel)]="row.label" />
                                </td>
                                <td>
                                    <input type="text" (blur)="row.amount=$event.target.value" class="form-control" value="{{row.amount}}" customCurrencyFormatter
                                    />
                                </td>
                                <td>
                                    <a class="btn" (click)="deleteLabelAndCurrencyRow(StateDeductions, row)"><i class="fa fa-times"></i></a>   
                                    <a class="btn" (click)="insertLabelAndCurrencyRow(StateDeductions, row)"><i class="fa fa-plus"></i></a> 
                                </td>
                            </tr>
                            <tr>
                                <td>Taxable Income:</td>
                                <td colspan="2">{{StateTaxableIncome | customCurrency}}</td>
                            </tr>
                            <tr>
                                <td colspan="3">Credits:</td>
                            </tr>
                            <tr *ngFor="let row of StateCredits" class="form-group">
                                <td>
                                    <input type="text" class="form-control" [(ngModel)]="row.label" />
                                </td>
                                <td>
                                    <input type="text" (blur)="row.amount=$event.target.value" class="form-control" value="{{row.amount}}" customCurrencyFormatter
                                    />
                                </td>
                                <td>
                                    <a class="btn" (click)="deleteLabelAndCurrencyRow(StateCredits, row)"><i class="fa fa-times"></i></a>   
                                    <a class="btn" (click)="insertLabelAndCurrencyRow(StateCredits, row)"><i class="fa fa-plus"></i></a> 
                                </td>
                            </tr>
                        </table>
                    </tab>
                </tabs>
            </td>
        </tr>
        <tr>
            <td>Federal:</td>
            <td colspan="2">{{FederalTax | customCurrency}}</td>
        </tr>
        <tr>
            <td>FICA:</td>
            <td colspan="2">{{FICATax | customCurrency}}</td>
        </tr>
        <tr>
            <td>State:</td>
            <td colspan="2">{{StateTax | customCurrency}}</td>
        </tr>
        <tr>
            <td>
                <button (click)="addLabelAndCurrencyRow(AdditionalTaxes)">Add a tax</button>
            </td>
            <td></td>
            <td></td>
        </tr>
        <tr *ngFor="let row of AdditionalTaxes" class="form-group">
            <td>
                <input type="text" class="form-control" [(ngModel)]="row.label" />
            </td>
            <td>
                <input type="text" (blur)="row.amount=$event.target.value" class="form-control" value="{{row.amount}}" customCurrencyFormatter
                />
            </td>
            <td>
                <button (click)="deleteLabelAndCurrencyRow(AdditionalTaxes, row)">Delete Row</button>
            </td>
        </tr>
        <tr>
            <td>Total:</td>
            <td colspan="2">{{TaxesSum | customCurrency}}</td>
        </tr>

    </table>
</div>