<div class="input-section">
    <h1>{{type}}</h1>
    <table class="table">
        <tr class="table-headers">
            <th>Label</th>
            <th>Monthly</th>
            <th>Annually</th>
            <th *ngIf="showPreTaxCheckbox">Pre Tax</th>
            <th></th>
        </tr>
        <tr *ngFor="let row of rows" class="form-group">
            <td>
                <input type="text" class="form-control" [(ngModel)]="row.label"/>
            </td>
            <td>
                <input type="text" (blur)="row.monthly=$event.target.value" class="form-control" value="{{row.monthly}}" customCurrencyFormatter />
            </td>
            <td>
                <input type="text" (blur)="row.annually=$event.target.value" class="form-control" value={{row.annually}} customCurrencyFormatter />
            </td>
            <td *ngIf="showPreTaxCheckbox" class="center">
                <input type="checkbox" [(ngModel)]="row.preTax" />
            </td>
            <td class="add-remove-td">
                <a class="btn no-padding" (click)="deleteRow(row)"><i class="fa fa-times"></i></a>   
                <a class="btn no-padding" (click)="insertRow(row)"><i class="fa fa-plus"></i></a>           
            </td>
        </tr>
        <tr *ngIf="rows.length===0">
            <td colspan="4">
                <button type="button" class="btn btn-default" (click)="insertRow()"><i class="fa fa-plus"></i>Add</button>
            </td>
            <td *ngIf="showPreTaxCheckbox"></td>
        </tr>
        <tr>
            <td>
                <p class="total">Total:</p>
            </td>
            <td>
                <p class="total">{{ getMonthlyTotal() | currency : 'USD' : true : '1.2-2' }}</p>
            </td>
            <td>
                <p class="total">{{ getAnnuallyTotal() | currency : 'USD' : true : '1.2-2' }}</p>
            </td>
            <td *ngIf="showPreTaxCheckbox"></td> 
            <td></td>
        </tr>
    </table>
</div>