.fa-times {
    color: red;
}

.fa-plus {
    color: green;
}

th, .total {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.table > tbody > tr:last-of-type > td:first-of-type > p {
    text-align: right; /*Make "Total:" be right aligned*/
}

.btn {
    padding: 0;
}

input[type="text"] {
    min-width: 76px;
}

.input-section {
    text-align: center;
}

.center {
    text-align: center;
    vertical-align: middle;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    border-top: none;
}

h1 {
    display: inline-block;
    color: white;
    padding: 2px 10px;
    border-radius: 10px;
}

@media (min-width: 992px) {
    :host-context(.incomes) .table-headers {
        height: 60px; /*Taller to match multi-lined "Pre Tax" when Incomes is next to Expenses*/
    }
}

:host-context(.incomes) h1 {
    background: #37BC9B;
}

:host-context(.expenses) h1 {
    background: #F6BB42;
}

:host-context(.savings) h1 {
    background: #967ADC;
}