<div class="input-section col-md-4">
    <h1>{{type}}</h1>
    <table class="table">
        <tr>
            <th>Label</th>
            <th>Monthly</th>
            <th>Annually</th>
            <th *ngIf="showPreTaxCheckbox">Pre Tax?</th>
        </tr>
        <tr *ngFor="let row of rows" class="form-group">
            <td>
                <input type="text" class="form-control" [(ngModel)]="row.label"/>
            </td>
            <td>
                <input type="text" (blur)="row.monthly=$event.target.value" class="form-control" value="{{row.monthly}}" customCurrencyFormatter />
            </td>
            <td>
                <input type="text" (blur)="row.annually=$event.target.value" class="form-control" value={{row.annually}} customCurrencyFormatter />
            </td>
            <td *ngIf="showPreTaxCheckbox">
                <input type="checkbox" [(ngModel)]="row.preTax" />
            </td>
            <td>
                <button (click)="deleteRow(row)">Delete Row</button>            
            </td>
        </tr>
        <tr>
            <td>
                <button (click)="addRow()">Add Row</button>
            </td>
            <td></td>
            <td></td>
            <td *ngIf="showPreTaxCheckbox"></td> 
        </tr>
        <tr>
            <td>
                <h2>Total:</h2>
            </td>
            <td>
                <h2>{{ getMonthlyTotal() | currency : 'USD' : true : '1.2-2' }}</h2>
            </td>
            <td>
                <h2>{{ getAnnuallyTotal() | currency : 'USD' : true : '1.2-2' }}</h2>
            </td>
            <td *ngIf="showPreTaxCheckbox"></td> 
        </tr>
    </table>
</div>