.fa-times {
    color: red;
}

.fa-plus {
    color: green;
}

.container {
    width: 100%;
}

.budget {
    background-color: #EEEFF2;
    padding: 5px;
}

.card {
    background-color: white;
    border: solid 5px #EEEFF2; 
    border-radius: 10px;
}