<div class="input-section">
    <h1>{{type}}</h1>
    <div class="headers">
        <h2>Label</h2>
        <h2>Monthly</h2>
        <h2>Annually</h2>
        <h2 *ngIf="showPreTaxCheckbox">Pre Tax?</h2>
    </div>
    <div class="data">
        <div *ngFor="let row of rows">
            <input type="text" value={{row.label}} />
            <input type="number" value={{row.monthly}} />
            <input type="number" value={{row.annually}} />
            <input *ngIf="showPreTaxCheckbox" type="checkbox" />
        </div>
    </div>
</div>