.taxableIncome h2 {
    display: inline-block;
}

.taxes {
    text-align: center;
}

h1 {
    display: inline-block;
    color: white;
    padding: 2px 10px;
    border-radius: 10px;
    background: #E9573F;
}

.fa-times {
    color: red;
}

.fa-plus {
    color: green;
}

.fa-question-circle {
    vertical-align: top;
    color: #337ab7;
    cursor: pointer;
    font-size: 20px;
}

select {
    border-radius: 4px;
    padding: 1px 6px;
}

input {
    border-radius: 4px;
    padding: 1px 1px 1px 6px;
}

.no-padding {
    padding: 0;
}

.add-remove-td {
    padding-top: 1px;
    width: 30px;
}

.btn-default > .fa-plus {
    margin-right: 5px;
}

.table tr:first-child td {
    border-top: none;
}

.tabs .table>tbody>tr>td, .tabs .table>tbody>tr>th, .tabs .table>tfoot>tr>td, .tabs .table>tfoot>tr>th, .tabs .table>thead>tr>td, .tabs .table>thead>tr>th {
    border-top: none;
}

.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
    vertical-align: middle;
}

.tabs .table .title {
    text-align: center;
}

.dark-bottom-border {
    border-bottom: 1px solid gray;
}
