.taxableIncome h2 {
    display: inline-block;
}

.taxes {
    text-align: center;
}

h1 {
    display: inline-block;
    color: white;
    padding: 2px 10px;
    border-radius: 10px;
    background: #E9573F;
}

.fa-times {
    color: red;
}

.fa-plus {
    color: green;
}

.btn {
    padding: 0;
}

.tabs .table>tbody>tr>td, .tabs .table>tbody>tr>th, .tabs .table>tfoot>tr>td, .tabs .table>tfoot>tr>th, .tabs .table>thead>tr>td, .tabs .table>thead>tr>th {
    border-top: none;
}

.tabs .table .title {
    text-align: center;
}
