<div class="taxes">
    <h1>Taxes</h1>
    <table class="table">
        <tr>
            <td>Tax Year:</td>
            <td colspan="2">
                <select [(ngModel)]="TaxYear">
                    <option *ngFor="let taxYear of this.TaxYears" [ngValue]="taxYear">{{taxYear}}</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Filing Status: <i class="fa fa-question-circle" (click)="showFilingStatusHelpInfo()"></i></td>
            <td colspan="2">
                <select [(ngModel)]="FilingStatus">
                    <option *ngFor="let status of FilingStatusOptions" [value]="FilingStatusOptions.indexOf(status)">{{status}}</option>
                </select>
            </td>
        </tr>
        <tr *ngIf="TaxYear<=2017">
            <td>
                Exemptions: <i class="fa fa-question-circle" (click)="showExemptionsHelpInfo()"></i>
            </td>
            <td colspan="2">
                <input type="number" [(ngModel)]="Exemptions" min="1" max="30" step="1" />
            </td>
        </tr>
        <tr>
            <td>State:</td>
            <td colspan="2">
                <select [(ngModel)]="State">
                    <option *ngFor="let stateAbbr of States" [value]="States.indexOf(stateAbbr)">{{stateAbbr}}</option>
                </select>
            </td>
        </tr>
        <tr>
            <td colspan="3" class="dark-bottom-border">
                <tabs class="tabs">
                    <tab tabTitle="Federal">
                        <table class="table">
                            <tr class="title">
                                <td colspan="3">Federal Deductions <i class="fa fa-question-circle" (click)="showFederalDeductionsHelpInfo()"></i></td>
                            </tr>
                            <tr *ngFor="let row of FederalDeductions" class="form-group">
                                <td>
                                    <input type="text" class="form-control" [(ngModel)]="row.label" />
                                </td>
                                <td>
                                    <input type="text" (blur)="row.amount=$event.target.value" class="form-control" value="{{row.amount}}" customCurrencyFormatter
                                    />
                                </td>
                                <td class="add-remove-td">
                                    <a class="btn no-padding" (click)="deleteLabelAndCurrencyRow(FederalDeductions, row)"><i class="fa fa-times"></i></a>
                                    <a class="btn no-padding" (click)="insertLabelAndCurrencyRow(FederalDeductions, row)"><i class="fa fa-plus"></i></a>
                                </td>
                            </tr>
                            <tr *ngIf="FederalDeductions.length===0">
                                <td colspan="3">
                                    <button type="button" class="btn btn-default" (click)="insertStandardDeduction(FederalDeductions, TaxTypeEnum.Federal)"><i class="fa fa-plus"></i>Add Standard</button>
                                    <button type="button" class="btn btn-default" (click)="insertLabelAndCurrencyRow(FederalDeductions)"><i class="fa fa-plus"></i>Add Custom</button>
                                </td>
                            </tr>
                            <tr class="title">
                                <td colspan="3">Federal Credits <i class="fa fa-question-circle" (click)="showFederalCreditsHelpInfo()"></i></td>
                            </tr>
                            <tr *ngFor="let row of FederalCredits" class="form-group">
                                <td>
                                    <input type="text" class="form-control" [(ngModel)]="row.label" />
                                </td>
                                <td>
                                    <input type="text" (blur)="row.amount=$event.target.value" class="form-control" value="{{row.amount}}" customCurrencyFormatter
                                    />
                                </td>
                                <td class="add-remove-td">
                                    <a class="btn no-padding" (click)="deleteLabelAndCurrencyRow(FederalCredits, row)"><i class="fa fa-times"></i></a>
                                    <a class="btn no-padding" (click)="insertLabelAndCurrencyRow(FederalCredits, row)"><i class="fa fa-plus"></i></a>
                                </td>
                            </tr>
                            <tr *ngIf="FederalCredits.length===0">
                                <td colspan="3">
                                    <button type="button" class="btn btn-default" (click)="insertLabelAndCurrencyRow(FederalCredits)"><i class="fa fa-plus"></i>Add</button>
                                </td>
                            </tr>
                        </table>
                    </tab>
                    <tab tabTitle="State">
                        <table class="table">
                            <tr class="title">
                                <td colspan="3">State Deductions <i class="fa fa-question-circle" (click)="showStateDeductionsHelpInfo()"></i></td>
                            </tr>
                            <tr *ngFor="let row of StateDeductions" class="form-group">
                                <td>
                                    <input type="text" class="form-control" [(ngModel)]="row.label" />
                                </td>
                                <td>
                                    <input type="text" (blur)="row.amount=$event.target.value" class="form-control" value="{{row.amount}}" customCurrencyFormatter
                                    />
                                </td>
                                <td class="add-remove-td">
                                    <a class="btn no-padding" (click)="deleteLabelAndCurrencyRow(StateDeductions, row)"><i class="fa fa-times"></i></a>
                                    <a class="btn no-padding" (click)="insertLabelAndCurrencyRow(StateDeductions, row)"><i class="fa fa-plus"></i></a>
                                </td>
                            </tr>
                            <tr *ngIf="StateDeductions.length===0">
                                <td colspan="3">
                                    <button  *ngIf="isStateStandardDeduction" type="button" class="btn btn btn-default" (click)="insertStandardDeduction(StateDeductions, TaxTypeEnum.State)"><i class="fa fa-plus"></i>Add Standard</button>
                                    <button type="button" class="btn btn-default" (click)="insertLabelAndCurrencyRow(StateDeductions)"><i class="fa fa-plus"></i>{{addStateStardardDeductionBtnLabel}}</button>
                                </td>
                            </tr>
                            <tr class="title">
                                <td colspan="3">State Credits <i class="fa fa-question-circle" (click)="showStateCreditsHelpInfo()"></i></td>
                            </tr>
                            <tr *ngFor="let row of StateCredits" class="form-group">
                                <td>
                                    <input type="text" class="form-control" [(ngModel)]="row.label" />
                                </td>
                                <td>
                                    <input type="text" (blur)="row.amount=$event.target.value" class="form-control" value="{{row.amount}}" customCurrencyFormatter
                                    />
                                </td>
                                <td class="add-remove-td">
                                    <a class="btn no-padding" (click)="deleteLabelAndCurrencyRow(StateCredits, row)"><i class="fa fa-times"></i></a>
                                    <a class="btn no-padding" (click)="insertLabelAndCurrencyRow(StateCredits, row)"><i class="fa fa-plus"></i></a>
                                </td>
                            </tr>
                            <tr *ngIf="StateCredits.length===0">
                                <td colspan="3">
                                    <button type="button" class="btn btn-default" (click)="insertLabelAndCurrencyRow(StateCredits)"><i class="fa fa-plus"></i>Add</button>
                                </td>
                            </tr>
                        </table>
                    </tab>
                </tabs>
            </td>
        </tr>
        <tr>
            <td>Federal Taxable Income:</td>
            <td colspan="2">{{FederalTaxableIncome | customCurrency}}</td>
        </tr>
        <tr>
            <td class="dark-bottom-border">State Taxable Income:</td>
            <td colspan="2" class="dark-bottom-border">{{StateTaxableIncome | customCurrency}}</td>
        </tr>
        <tr>
            <td>Federal Tax:</td>
            <td colspan="2">{{FederalTax | customCurrency}}</td>
        </tr>
        <tr>
            <td>FICA Tax:</td>
            <td colspan="2">{{FICATax | customCurrency}}</td>
        </tr>
        <tr>
            <td>State Tax:</td>
            <td colspan="2">{{StateTax | customCurrency}}</td>
        </tr>
        <tr *ngFor="let row of AdditionalTaxes" class="form-group">
            <td>
                <input type="text" class="form-control" [(ngModel)]="row.label" />
            </td>
            <td>
                <input type="text" (blur)="row.amount=$event.target.value" class="form-control" value="{{row.amount}}" customCurrencyFormatter
                />
            </td>
            <td class="add-remove-td">
                <a class="btn no-padding" (click)="deleteLabelAndCurrencyRow(AdditionalTaxes, row)"><i class="fa fa-times"></i></a>
                <a class="btn no-padding" (click)="insertLabelAndCurrencyRow(AdditionalTaxes, row)"><i class="fa fa-plus"></i></a>
            </td>
        </tr>
        <tr *ngIf="AdditionalTaxes.length === 0">
            <td colspan="2" class="dark-bottom-border">
                <button type="button" class="btn btn-default" (click)="insertLabelAndCurrencyRow(AdditionalTaxes, AdditionalTaxes[AdditionalTaxes.length-1])"><i class="fa fa-plus"></i>Add a Tax</button>
            </td>
        </tr>
        <tr>
            <td>Total:</td>
            <td colspan="2">{{TaxesSum | customCurrency}}</td>
        </tr>

    </table>
</div>