<div class="breakdown">
    <h1>Breakdown</h1>
    <table class="table">
        <tr>
            <td>Total Income:</td>
            <td>{{TotalIncome | customCurrency}}</td>
            <td></td>
        </tr>
        <tr>
            <td>After Pre-Tax:</td>
            <td>{{AfterPreTax | customCurrency}}</td>
            <td></td>
        </tr>
        <tr>
            <td>After Taxes:</td>
            <td>{{AfterTaxes | customCurrency}}</td>
            <td></td>
        </tr>
        <tr>
            <td>After Savings:</td>
            <td>{{AfterSavings | customCurrency}}</td>
            <td></td>
        </tr>
        <tr>
            <td>After Expenses:</td>
            <td>{{AfterExpenses | customCurrency}}</td>
            <td></td>
        </tr>
        <tr>
            <td>Additional Savings:</td>
            <td>{{AdditionalSavings | customCurrency}}</td>
            <td></td>
        </tr>
    </table>
</div>